[submodule "Vendor/Starscream"]
	path = Vendor/Starscream
	url = https://github.com/daltoniam/Starscream
[submodule "Vendor/CanvasKit"]
	path = Vendor/CanvasKit
	url = https://github.com/usecanvas/CanvasKit
[submodule "Vendor/ISO8601"]
	path = Vendor/ISO8601
	url = https://github.com/soffes/ISO8601
[submodule "Vendor/SSKeychain"]
	path = Vendor/SSKeychain
	url = https://github.com/soffes/SSKeychain
[submodule "Vendor/X"]
	path = Vendor/X
	url = https://github.com/soffes/X
[submodule "Vendor/CanvasText"]
	path = Vendor/CanvasText
	url = https://github.com/usecanvas/CanvasText
[submodule "Vendor/OperationalTransformation"]
	path = Vendor/OperationalTransformation
	url = https://github.com/usecanvas/OperationalTransformation
[submodule "Vendor/CanvasNative"]
	path = Vendor/CanvasNative
	url = https://github.com/usecanvas/CanvasNative
[submodule "Vendor/Diff"]
	path = Vendor/Diff
	url = https://github.com/soffes/Diff
[submodule "Vendor/Cache"]
	path = Vendor/Cache
	url = https://github.com/soffes/Cache
[submodule "Vendor/Crypto"]
	path = Vendor/Crypto
	url = https://github.com/soffes/Crypto
